
<ol class="breadcrumb clean">
  <li>
    <a href="" main-toggle="slide-left"><i class="fa fa-th"></i><span class="sr-only">Select payment type</span></a>
  </li>
  <li class="active">
    <i class="fa fa-money"></i> Make Payment
  </li>
</ol>

<h3>{{post.title.rendered}}</h3>

<div class="row">

  <div class="col-sm-5" ng-if="post.meta.type == 'link'">

    <h4>Online payments</h4>
    <p>
      <a href="" ng-href="{{post.meta.link}}" class="btn btn-primary btn-lg" target="_blank">Pay online now &raquo;</a>
    </p>
    <p>
      <small><em>You will be redirected to our secure online payment provider.</em></small>
    </p>
  </div>

  <div class="col-sm-5" ng-if="post.meta.type == 'gravityform'">

    <h4>Pay online now</h4>
    <form class="form-horizontal" role="form" method="GET" ng-submit="submit(payment)">
      <div class="form-group" ng-class="idClass">
        <label class="control-label col-sm-4" for="invoice_id">Invoice number:</label>
        <div class="col-sm-8">
          <input type="text" class="form-control" id="invoice_id" ng-model-options="{ debounce: 250 }" ng-model="payment.id" placeholder="Try 0001 or 0002" required>
          <div class="error-message hide">Sorry, we could not find your invoice number.  Please try 0001 or 0002 for this demo</div>
          <div class="success-message hide">We found invoice <strong>{{payment.id}}</strong> for <strong>{{payment.name}}</strong> for <strong>${{payment.amount}}</strong></div>
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-sm-4" for="amount">Amount:</label>
        <div class="col-sm-8"><div class="input-group">
          <div class="input-group-addon">$</div>
          <input type="text" class="form-control" id="amount" ng-model="payment.amount" placeholder="0.00" required>
        </div></div>
      </div>
      <div class="form-group"><div class="col-sm-8 col-sm-push-4">
        <input type="submit" name="submit" value="Make payment &raquo" class="btn btn-primary">
      </div></div>
    </form>

  </div>

  <div class="col-sm-6">
    <h4 ng-if="post.content.rendered">Payment info</h4>
    <div class="body" ng-bind-html="post.content.rendered"></div>
  </div>

</div>
<div main-toggle="slide-left" main-toggle-force="add" main-toggle-enter="true"></div>





