<div class="slide-left-2 column">
  
  <div class="breadcrumb clean">
    <form class="form-inline" ng-submit="googleSearch($event)">
      <input class="form-control form-control-lg" ng-model="term" ng-model-options='{ debounce: 250 }' ng-change='autocomplete()' placeholder="How may we help you?" style="width:80%" autofocus />
      <button type="submit" class="btn btn-primary" title="Search Google"><i class="fa fa-search" ng-class="loading ? 'fa fa-spin fa-spinner' : 'fa fa-search'"></i></button>
    </form>
  </div>

  <div class="row">

    <div class="col-sm-7">
      <ul ng-if="results" class="search-autosuggest" style="display: block">
        <li ng-repeat="item in results">
          <a ng-href="item.url" ng-click="go(item, $event)" class="result-link">
            <span class="title-span">  
              <i class="fa fa-fw {{item.icon}}"></i>
              <span ng-bind-html="item.title"></span>
            </span>
            <span ng-if="item.suffix" ng-bind-html="trustHtml(item.suffix)"></span>
          </a>
        </li>
      </ul>
    </div>

    <div class="col-sm-5">
      <div search-granicus term="term" ng-if="additional.granicus"></div>
    </div>

  </div>

</div>

<div class="animation-wrap slide-left-2">
  <div class="quickfade" ui-view></div>
</div>