<h2>Issues</h2>
<p ng-if="!contest">We do not have any information about the issues for your election yet. Please check back again closer to the election.<hr/></p>
<div ng-repeat="contest in contests" ng-click="setActive(contest.referendumTitle, $event)">
  <h3><a ng-href="#" target="_blank" title="Learn more about {{contest.referendumTitle}}" ng-click="setActive(contest.referendumTitle, $event)">{{contest.referendumTitle}}</a> <small>{{contest.district.name}}</small></h3>
  <h5>{{contest.referendumSubtitle}}</h5>
  <div ng-if="active == contest.referendumTitle">
    <a ng-if="contest.referendumUrl" ng-href="{{contest.referendumUrl}}" target="_blank" class="hidden-xs btn btn-sm btn-default pull-right">
      <i class="fa fa-fw fa-info-circle"></i>Impartial analysis
    </a>
    {{contest.referendumText}}
  </div>
  <hr/>
</div>