<div class="row">
  <div class="col-sm-1 col-xs-2 col-icon"><i class="fa fa-fw fa-2x text-muted {{item.icon}}"></i></div>
  <div class="col-sm-11 col-xs-10">
    <div class="pull-right action-buttons">
      <a class="btn btn-xs btn-default" href="#" title="Hours" ng-click="toggleHours($event)" ng-class="hoursActive ? active : ''"><i class="fa fa-fw fa-clock-o"></i>Hours</a>
      <div class="dropdown-menu" style="display:block;top:auto;padding:10px;" ng-if="hoursActive">
        <div ng-bind-html="item.hours"></div>
        <a ng-if="holidays" href="#" ng-click="toggleHolidays($event)" title="See list of holidays">Closed on holidays</a>
      </div>
      <a ng-if="item.directions" class="btn btn-xs btn-default" title="Google Directions" ng-href="{{item.directions}}" target="_blank"><i class="fa fa-fw fa-location-arrow"></i>Directions</a>
    </div>
    <div>{{item.title}}</div>
    <div ng-if="item.address" class="text-muted">{{item.address}}</div>
    <div ng-repeat="line in item.status">
      <span class="text-muted">{{line.label}}:</span>
      <strong><span ng-class="line.class" ng-bind-html="line.value"></span></strong>
    </div>
    <div class="text-warning" ng-if="item.alert" ng-bind-html="item.alert"></div>
    <div ng-if="holidaysActive && holidays">
      <hr/>
      <a href="#" ng-click="toggleHolidays($event)" title="Hide Holidays" class="pull-right btn btn-xs btn-default"><i class="fa fa-fw fa-times-circle"></i></a>
      <h4>Upcoming Holidays</h4>
      <div ng-bind-html="holidays"></div>
    </div>
    <hr class="compact" />
  </div>
</div>