<form>
  <div class="form-group">
    <label for="emails">Email address:</label>
    <textarea cols="60" rows="3" model="form.emails" class="form-control"></textarea>
    <p class="text-muted">Enter one email address per line.</p>
  </div>
  <div class="form-group">
    <label for="role">Role:</label>
    <select class="form-control" model="role">
      <option ng-repeat="role in roles" value="{{role.value}}">{{role.label}}</option>
    </select>
  </div>
  <div class="form-group">
    <label for="role">Custom message:</label>
    <textarea cols="60" rows="3" model="form.message" class="form-control"></textarea>
  </div>
  <button type="submit" class="btn btn-default">Submit</button>
</form>