<h1>{{site.name}}</h1>

<ul class="nav nav-pills">
  <li ui-sref-active="active"><a ui-sref="site.dashboard({'siteId': site._id})">Dashboard</a></li>
  <li ui-sref-active="active"><a ui-sref="site.analytics({'siteId': site._id})">Analytics</a></li>
  <li ui-sref-active="active"><a ui-sref="site.users({'siteId': site._id})">Users</a></li>
  <li ui-sref-active="active"><a ui-sref="site.users({'siteId': site._id})">Partner Integrations</a></li>
  <li><a ng-href="{{site.url}}/wp-admin/edit.php?post_type=faq">Content</a></li>
  <li><a ng-href="{{site.url}}">View site</a></li>
</ul>

<hr/>
<div ui-view></div>
